#wrapper {
	height: 180vh;
	width: 100vw;
	background-color: #BF7B26;
	margin: 0px auto;
	position: absolute;
	top: 0px;
}

#header {
	height: 60px;
	width: 100vw;
	background-color: #FFB47A;
	text-align: center;
	top: 0px;
}

#header > h1 {
	font-family: 'Lobster', cursive;
	font-size: 45px;
	position: relative;
}

.block-1 {
	height: 27px;
	width: 100vw;
	background-color: #F6A640;
	position: absolute;
}

.content {
	height: 250px;
	width: 50vw;
	border-radius: 13px;
	background-color: #ECBB95;
	position: relative;
	margin: 0px auto;
	top: 25px;
	font-family: 'Poppins', sans-serif;

}

.content > h1 {
		font-family: 'Bree Serif', serif;
}

