h1 {
  padding-left: 30px;
}

h2 {
  padding-left: 40px;
}

p {
  padding: 25px;
}



#wrapper {
  height: 1100px;
  width: 200px;
  background-color: #ffdc6a;
  margin: 0px auto;
  border-radius: 23px;
  position: absolute;
  top: 25px;
  left: 65px;
}


#header {
  height: 75px;
  width: 500px;
  background-color: #f2b1d8;
  margin: 0px;
  position: absolute;
  left: -30px;
  top: 30px;
  border-radius: 23px;
}

#experience {
  height: 300px;
  width: 800px;
  background-color: #8FF5C8;
  margin: 0px;
  position: absolute;
  left: 60px;
  top: 125px;
  border-radius: 23px;
}

#education {
  height: 300px;
  width: 800px;
  background-color: #8FCDF5;
  margin: 0px;
  position: absolute;
  left: 20px;
  top: 445px;
  border-radius: 23px;
}


#volunteer {
  height: 300px;
  width: 800px;
  background-color: #8FF5C8;
  margin: 0px;
  position: absolute;
  left: 60px;
  top: 765px;
  border-radius: 23px;
  margin-bottom: 100px;
}

