#wrapper {
	height: 200vh;
	width: 50vw;
	border-radius: 30px;
	margin: 0px auto;
	background-color: #E1BF83;
}

#header {
	height: 120px;
	width: 50vw;
	background-color: #FFE4B4;
	font-family: 'Lobster', cursive;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

#header > h1 {
	padding: 30px;
	font-size: 60px;
}

.block-1 {
	height: 50px;
	width: 50vw;
	background-color: #A47D38;
}